<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Группы</title>
    <div th:replace="~{commons :: head}"></div>
<body>

<div th:replace="~{commons :: nav}"></div>

<section class="list">
    <div class="container my-2">
        <div class="card">
            <div class="row">
                <div class="card-body col">
                    <h2 class="text-center"> Кафедры</h2>
                    <div th:switch="${list}" class="container my-5">
                        <div class="col-md-12">
                            <h2 th:case="null">Записей не найдено</h2>
                            <div th:case="*" class="overScroll">
                                <table class="table table-striped table-responsive-md">
                                    <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Кафедра</th>
                                        <th>Факультет</th>
                                        <th>Форма обучения</th>
                                        <th>Специальность</th>
                                        <th>Курс</th>
                                        <th>Студентов</th>
                                        <th>Групп</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="entity : ${list}">
                                        <td th:text="${entity.name}"></td>
                                        <td th:text="${entity.department}"></td>
                                        <td th:text="${entity.faculty}"></td>
                                        <td th:text="${entity.trainingForm}"></td>
                                        <td th:text="${entity.speciality}"></td>
                                        <td th:text="${entity.course}"></td>
                                        <td th:text="${entity.studentCount}"></td>
                                        <td th:text="${entity.groupCount}"></td>
                                        <td class="widthLastCol ">
                                            <a th:href="@{/groups/showWorkload/{id}(id=${entity.id})}" class="myButton ">
                                                Нагрузка группы
                                            </a>
                                        </td>
                                        <td class="widthLastCol ">
                                            <a th:href="@{/groups/edit/{id}(id=${entity.id})}" class="myButton ">
                                                <i class="fas fa-edit">Редактировать</i>
                                            </a>
                                        </td>
                                        <td class="widthLastCol ">
                                            <a th:href="@{/groups/delete/{id}(id=${entity.id})}" class="myButton">
                                                <i class="fas fa-trash">Удалить</i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <p class="d-flex justify-content-end">
                                <a href="/groups/edit" class="myButton mx-2">
                                    <i class="fas fa-plus"> Добавить запись </i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>

</body>
</html>