<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактор групп</title>
    <div th:replace="~{commons :: head}"></div>
</head>
<body>
<div th:replace="~{commons :: nav}"></div>

<section class="entity-addEdit" id="entity-addEdit">
    <div class="container">
        <form action="/groups/create" method="POST" th:object="${entity}">
            <div class="row">
                <div class="col">
                    <h3>Создание / Редактирование группы</h3>
                </div>
            </div>
            <div class="row mainContainer blogBetween">
                <div class="col-md-12">
                    <table class="editTable ">
                        <tbody>
                        <tr>
                            <th><label class="mx-2">Название</label></th>
                            <td><input type="text" th:field="*{name}" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <select class="form-control" name="department_id" id="" required>
                                <option th:if="${entity.department==null}" th:each="temp : ${departaments}"
                                        th:value="${temp.id}" th:text="${temp.name}"
                                        th:selected="${entity.department==temp}">
                                </option>
                                <option th:if="${entity.department!=null}" th:each="temp : ${departaments}"
                                        th:value="${temp.id}" th:text="${temp.name}"
                                        th:selected="${entity.department.id==temp.id}">
                                </option>
                            </select>
                        </tr>
                        <tr>
                            <select class="form-control" name="faculty_id" id="" required>
                                <option th:if="${entity.faculty==null}" th:each="temp : ${faculties}"
                                        th:value="${temp.id}" th:text="${temp.name}"
                                        th:selected="${entity.faculty==temp}">
                                </option>
                                <option th:if="${entity.faculty!=null}" th:each="temp : ${faculties}"
                                        th:value="${temp.id}" th:text="${temp.name}"
                                        th:selected="${entity.faculty.id==temp.id}">
                                </option>
                            </select>
                        </tr>
                        <tr>
                            <select class="form-control" name="training_form_id" id="" required>
                                <option th:if="${entity.trainingForm==null}" th:each="temp : ${forms}"
                                        th:value="${temp.id}" th:text="${temp.name}"
                                        th:selected="${entity.trainingForm==temp}">
                                </option>
                                <option th:if="${entity.trainingForm!=null}" th:each="temp : ${forms}"
                                        th:value="${temp.id}" th:text="${temp.name}"
                                        th:selected="${entity.trainingForm.id==temp.id}">
                                </option>
                            </select>
                        </tr>
                        <tr>
                            <select class="form-control" name="speciality_id" id="" required>
                                <option th:if="${entity.speciality==null}" th:each="temp : ${specialities}"
                                        th:value="${temp.id}" th:text="${temp.name}"
                                        th:selected="${entity.speciality==temp}">
                                </option>
                                <option th:if="${entity.speciality!=null}" th:each="temp : ${specialities}"
                                        th:value="${temp.id}" th:text="${temp.name}"
                                        th:selected="${entity.speciality.id==temp.id}">
                                </option>
                            </select>
                        </tr>
                        <tr>
                            <th><label class="mx-2">Курс</label></th>
                            <td><input type="text" th:field="*{course}" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <th><label class="mx-2">Студентов</label></th>
                            <td><input type="text" th:field="*{studentCount}" class="form-control" required/></td>
                        </tr>
                        <tr>
                            <th><label class="mx-2">Групп</label></th>
                            <td><input type="text" th:field="*{groupCount}" class="form-control" required/></td>
                        </tr>
                        </tbody>
                    </table>
                    <p class="my-5 between">
                        <input type="hidden" id="id" th:field="*{id}">
                        <input type="button" class="myButton" value="Назад" onclick="history.back()"/>
                        <input type="submit" class="myButton" value="Отправить">
                    </p>
                </div>
            </div>
        </form>
    </div>
</section>

<div th:replace="~{commons :: footer}"></div>
</body>
</html>